








@media screen and (max-width : 769px) {
    
    *{margin: 0;
    padding: 0;
}
    
    body {
        width: 100%;
        box-sizing: border-box;
    }

    br {
        display: none;
    }

    MAIN {
        margin: 0;
        margin-top: 10rem;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }

    #navMenu {
        display: none;
    }


    #logoImg {
        margin: 0;

        margin-top: 1rem;
        margin-right: 20rem;
        display: flex;
        justify-content: flex-start;

    }

    #headline-h1 {
        width: 100%;
        text-align: center;
    }

    .dot-span {
        font-size: 2rem;
    }

    #img-aside {
        display: none;
    }

    #img-about {
        display: none;
    }

    .sec2-p {
        text-align: justify;
        margin: 0;
        margin-top: 3rem;
        padding: 2rem;
    }

    .items {
        top: 68rem;
        padding: 1rem;
    }

    .items h3 {
        color: #ffffff;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #section4 {
        height: 70rem;
        transform: translateY(85%);
    }

    #cards-habilidade {
        gap: 3rem;
        margin: 0;
        margin-top: 2rem;
        padding: 1rem;
        flex-wrap: wrap;

    }


    #projetos {
        gap: 1rem;
        margin: 0;
        padding: 1rem;
        
    }

    .card {
        text-align: center;
        
    }

    .button-container .button4:nth-child(1) {
        margin-left: 2rem;
    }
    
    .button-container .button4:nth-child(2) {
        margin-right: 2rem;
    
    }

    .proje1:hover {
        height: 18rem;
        position: relative;
        transition: 0.5s;
        width:50rem;
    }
    
    .proje2:hover {
        height: 18rem;
        position: relative;
        transition: 0.5s;
        width:50rem;
        background-image: url();
    }
    
    .proje3:hover {
        height: 18rem;
        position: relative;
        transition: 0.5s;
        width:50rem;
    }
}
