@media screen and (max-width : 1500px) {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        box-sizing: border-box;
    }

    br {
        display: none;
    }

    #logoImg {
        margin: 0;
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    Main {
        margin: 0;
        margin-top: 20rem;
        padding: 1rem;
        margin-left: 5rem;
    }

    

    #img-aside {
        width: 25rem;
        height: 25rem;
        margin-top: 2rem;
        margin-left: 0rem;
    }

    #img-gif {
        height: 30rem;
        background-color: #101013;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        margin-left: 5rem;
        margin-top: 3rem;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .i1 {
        top: -30rem;
        left: 27rem;
        animation: moving 2s ease 2.9s infinite alternate
    }

    .i2 {
        top: -25rem;
        left: -3rem;
        width: 6rem;
        height: 6rem;
        animation: moving 2s ease 1.9s infinite alternate
    }

    .i3 {
        top: -10rem;
        left: -13rem;
        animation: moving 2s ease .9s infinite alternate
    }

    .i4 {
        top: -12rem;
        left: 27rem;
        width: 5.4rem;
        height: 5.4rem;
        animation: moving 2s ease .2s infinite alternate
    }

    .sec2-p {
        text-align: justify;
        margin: 0;
        margin-top: 3rem;
        padding: 2rem;
    }

    .card2 {
        margin: 2rem;
        margin-top: .5rem;

    }

    .card {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width : 769px) {

    
    
    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        box-sizing: border-box;
    }

    br {
        display: none;
    }

    MAIN {
        margin: 0;
        margin-top: 10rem;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }

    /* Modal NavMenu */

#modalContato {
    position: fixed;
    margin: 0;
    padding: 0;
    margin: auto;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000000;
    right: -100%;
    transition: 350ms;
    display: none;
    
}

#modalContato a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 0.01rem 0rem 0.1rem; 

    
}

    #navMenu {
        display: none;
    }

    #modalContato {
        display: flex;
        
    }

    #modalContato .toggle {
        position: absolute;
        transform: translateX(-50%);
        z-index: 99;
    }

    .bar {
        display: block;
        position: fixed;
        top: 1.8rem;
        right: 2rem;
    }


    #logoImg {
        margin: 0;

        margin-top: 1rem;
        margin-right: 32rem;
        display: flex;
        justify-content: flex-start;

    }

    #headline-h1 {
        width: 100%;
        text-align: center;
    }

    .dot-span {
        font-size: 2rem;
    }

    #img-aside {
        
        right: 25%;
        top: 25rem;
    }

    #img-gif {
        height: 20rem;
        background-color: #101013;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        margin-left: 2rem;
        margin-top: 8rem;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .i1 {
        top: -20rem;
        left: 16rem;
        width: 4.6rem;
        height: 4.6rem;
        animation: moving 2s ease 2.9s infinite alternate
    }

    .i2 {
        top: -19rem;
        left: -6rem;
        width: 5rem;
        height: 5rem;
        animation: moving 2s ease 1.9s infinite alternate
    }

    .i3 {
        top: -8rem;
        left: 3.5rem;
        width: 5rem;
        height: 5rem;
        animation: moving 2s ease .9s infinite alternate
    }

    .i4 {
        top: -12rem;
        left: 8rem;
        width: 5rem;
        height: 5rem;
        animation: moving 2s ease .2s infinite alternate
    }

    .sec2-p {
        text-align: justify;
        margin: 0;
        margin-top: 3rem;
        padding: 2rem;
    }

    .items {
        top: 68rem;
        padding: 1rem;
        
    }

    .items h3 {
        color: #ffffff;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #section4 {
        height: 75rem;
        transform: translateY(80%);
    }

    #cards-habilidade {
        gap: 3rem;
        margin: 0;
        margin-top: 2rem;
        padding: 1rem;
        flex-wrap: wrap;

    }

    #projetos {
        gap: 1rem;
}

    .card {
        text-align: center;
        transition: 0.5s;
        
        
        margin: 0.2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        
    }

    .card::after {
        --m-i: linear-gradient(#000, #000);
        --m-o: content-box, padding-box;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: var(--border-width);
        border-radius: 1rem;
        background-image: conic-gradient(#488cfb,
                #d400ff,
                #a200ff,
                #b509ff,
                #9900ff,
                #655adc,
                #488cfb);
        -webkit-mask-image: var(--m-i), var(--m-i);
        mask-image: var(--m-i), var(--m-i);
        -webkit-mask-origin: var(--m-o);
        mask-origin: var(--m-o);
        -webkit-mask-clip: var(--m-o);
        mask-clip: none;
        mask-composite: exclude;
        -webkit-mask-composite: destination-out;
        filter: hue-rotate(0);
        animation: rotate-hue linear 500ms infinite;
        animation-play-state: paused;
    }



    .button-container .button4:nth-child(1) {
        margin-left: 1rem;
    }

    .button-container .button4:nth-child(2) {
        margin-right: 1rem;


    }

    .proje1:hover {
        height: 18rem;
        position: relative;
        transition: 0.5s;
        width: 100rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://user-images.githubusercontent.com/104698942/205792532-9cf64561-e1e5-4f5f-8b27-b152a31e0e19.svg);
    }

    .proje2:hover {
        height: 18rem;
        position: relative;
        transition: 0.5s;
        width: 100rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://user-images.githubusercontent.com/104698942/205791409-66cec37f-f766-4c95-919c-8c7a20aa11fc.svg);
    }

    .proje3:hover {
        height: 18rem;
        position: relative;
        transition: 0.5s;
        width: 120rem;
        background-image: url(https://user-images.githubusercontent.com/104698942/205792075-53570c0e-d0c5-4dd9-9f56-eefefb215582.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #section3 {
        height: 45rem;
        transform: translateY(140%);
    }

    .card:hover .pcard {
        display: none;
        transition: 1s;
        
    }


}

@media screen and (max-width : 577px) {
    
    #cards-habilidade {
        display: flex;
        flex-direction: column;
        
    }

    .card2 {
        margin: auto;
        padding: 0;
        gap: 0rem;
    }


    .card {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    body {
        margin: auto;
        width: 100%;
        box-sizing: border-box;
    }

    MAIN {
        margin: 0;
        margin-top: 8rem;
        padding: 1rem;
        width: 100%;
        text-align: center;
        display: flex;
    }

    #text-service {
        background-color: #09090B;
        margin: auto;
        margin-top: 2rem;
        padding: 2rem;
        width: 25rem;
        text-align: justify;
        color: #ffffff;
        font-size: 1.2rem;
    }

    #logoImg {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        margin-right: 12rem;
        display: flex;
    }

    #img-aside {
        width:15rem ;
        height: 13rem;        
        left: 5rem;
        top: 37rem;
        
    }

    #sobremim {
        display: flex;
        flex-direction: column;
        
    }

    
    
    #img-gif {
        height: 15rem;
        margin-left: 5rem;
        margin-top: 2rem;
        
    }

    .sec2-p {
        position: absolute;
        margin-top: 20rem;
        letter-spacing: 0rem;
        line-height: 1.5rem;
        width: inherit;
    }

    

    .i1 {
        top: -14rem;
        left: 15.5rem;
        width: 4rem;
        height: 4rem;
        
    }

    .i2 {
        top: -14rem;
        left: -4rem;
        width: 4.4rem;
        height: 4.4rem;
        
    }

    .i3 {
        top: -9rem;
        left: 4.5rem;
        width: 4rem;
        height: 4rem;
        
    }

    .i4 {
        top: -9rem;
        left: 8rem;
        width: 4rem;
        height: 4rem;
        
    }

    .items .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25rem;
        z-index: 100;
        
    }

    .button-container .btn1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, 200%);
    width: 3rem;
    height: 3rem;
    background: #9900ff;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    
    z-index: 99;
}

.button-container .btn2:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, 200%);
    width: 3rem;
    height: 3rem;
    background: #9900ff;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    
    z-index: 99;
}

.button-container .button4:nth-child(1) {
    float: left;
}

.button-container .button4:nth-child(2) {
    float: right;

}

.content p{
    font-weight: bold;
    font-size: 1.2rem;
}

#section3 {
    display: flex;
    flex-direction: column;
    height: 90rem;
    transform: translateY(70%);
    
}

#projetos {
    display: flex;
    flex-direction: column; 
    gap: 1rem;  
}

.proje1:hover {
    height: 20rem;  
    position: relative;
    transition: 0.5s;
    width: 95%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://user-images.githubusercontent.com/104698942/207024153-de6ce790-42bb-42bf-a7f9-6576032be155.png);
    
}

.proje2:hover {
    height: 18rem;
    position: relative;
    transition: 0.5s;
    width: 95%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://user-images.githubusercontent.com/104698942/205792532-9cf64561-e1e5-4f5f-8b27-b152a31e0e19.svg);
    
}

.proje3:hover {
    height: 18rem;
    position: relative;
    transition: 0.5s;
    width: 95%;
    background-image: url(https://user-images.githubusercontent.com/104698942/205792075-53570c0e-d0c5-4dd9-9f56-eefefb215582.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.card:hover .pcard {
    display: none;
    transition: 1s;
    
}


}
@media screen and (min-width : 400px) and (max-width : 500px) {
    
    body {
        
        width: 100%;
        box-sizing: border-box;
    }
    
    #logoImg {
        margin-right: 15rem;
        width: 50%;
        height: 50%;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }
    #img-aside {
        left: 6rem; 
    }
    #img-gif {   
        margin-left: 5.8rem;
        margin-top: 2rem;  
    }


    .i1 {
        top: -13.5rem;
        left: 17rem;
        width: 4rem;
        height: 4rem;
        
    }

    .i2 {
        top: -14rem;
        left: -3rem;
        width: 4.4rem;
        height: 4.4rem;
        
    }

    .i3 {
        top: -3rem;
        left: 0rem;
        width: 4rem;
        height: 4rem;
        
    }

    .i4 {
        top: -7rem;
        left: 6rem;
        width: 4rem;
        height: 4rem;
        
    }

    
}
@media screen and (max-width : 376px) {
    
    body {
        width: 100%;
        box-sizing: border-box;
    }

    
    
    #img-aside {
        
        width:12rem ;
        height: 10rem;        
        left: 5.5rem;
        top: 41rem;
    }
    main {
        margin-top: 6rem;
        
    }
    .sec2-p {
        width: 22rem;
        margin-left: .8rem;
        margin-right: 0;
        margin-top: 16rem;
        text-align: justify;
        letter-spacing: 0rem;
    }

    #text-service {
        background-color: #09090B;
        margin: auto;
        margin-top: 2rem;
        padding: 2rem;
        width: 100%;
        text-align: justify;
        color: #ffffff;
        font-size: 1.2rem;
    }
    #img-gif {
        
        margin-left: 4rem;
        margin-top: 2rem;   
    }
    .i1 {
        top: -13rem;
        left: 15.5rem;
        width: 4rem;
        height: 4rem;
        
    }

    .i2 {
        top: -13rem;
        left: -6rem;
        width: 4.4rem;
        height: 4.4rem;
        
    }

    .i3 {
        top: -8rem;
        left: 4rem;
        width: 4rem;
        height: 4rem;
        
    }

    .i4 {
        top: -9rem;
        left: 7rem;
        width: 4rem;
        height: 4rem;
        
    }

    .button-container {
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        z-index: 100;
        
    }

    #logoImg {
        width: 50%;
        height: 50%;
        margin-top: 1rem;
    }
    
}
