@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;

}

a {
    text-decoration: none;
}

body {
    background: rgb(0, 0, 0);
    transition: 1s;
    box-sizing: border-box;
    



}

/* Cabecalho */

header {
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid #101013;
    position: fixed;
    z-index: 999;
}

#logoImg {
    border-radius: 1rem;
    margin-top: 1rem;
    width: 12rem;
    height: 5rem;
    
    margin-left: 12rem;
}

nav {
    display: flex;
    flex-direction: row;

    justify-content: space-around;


}

/* Modal NavMenu */

#modalContato {
    position: fixed;
    margin: 0;
    padding: 0;
    margin: auto;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000000;
    right: -100%;
    transition: 350ms;
    
}

#modalContato a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    
}




.linksNav {
    position: relative;
    display: flex;
    float: left;
    color: rgba(216, 216, 216, 0.904);

    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 4rem;
    margin-top: 1.8rem;
    height: 3.5rem;
    align-items: center;
    text-decoration: none;
}

.linksNav::after {
    content: "";
    position: absolute;
    background: rgb(181, 9, 255);
    background: linear-gradient(90deg, rgba(181, 9, 255, 0.7455357142857143) 13%, rgba(181, 9, 255, 1) 39%, rgba(181, 9, 255, 1) 97%);
    height: 2px;
    width: 0;
    bottom: 1rem;
    transition: 0.3s;
}

.linksNav:hover:after {
    width: 100%;
    transition: 0.3s;
}

.linksNav:hover {
    color: #ffffff;

}

/* conteudo principal */
main {

    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 20rem;
    margin-left: 22rem;


}

h1 {
    color: #ffffff;
    font-size: 2rem;
    letter-spacing: 1px;

}

#headline {
    width: 48rem;
    height: 10rem;

}

.dot {
    color: #b509ff;
}

#headline-h1 {
    font-size: 2.8rem;
}

.headline-span {
    color: #b509ff;

}

.headline-p {
    color: #ffffff;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.headline-btn {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(181, 9, 255);
    background: linear-gradient(90deg, rgba(181, 9, 255, 0.7455357142857143) 0%, rgba(207, 9, 255, 1) 48%);
    width: 15rem;
    height: 3.5rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 0;
    border: none;
}

.headline-btn:hover {
    width: 18rem;
    transition: 0.5s;
    box-shadow:0.5rem 0.5rem 0.5rem #9900ff;
}



#img-aside {
    width: 42rem;
    height: 40rem;
    margin-left: 7rem;
    position: absolute;
    transform: translateY(-25%);
    border-radius: 50%;


}

  /* Sessao sobre mim */
#section2 {

    background-color: #09090B;
    width: 100%;
    height: 45rem;
    transform: translateY(125%);
    

}

#img-gif {
    height: 33rem;
    background-color: #101013;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin-left: 20rem;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#img-gif:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.icons-about{
    position: relative;
    width: 5rem;
    height: 5rem;
    margin-right: 4rem;
    
    
}

.i1 {
    top: -32rem;
    left: 45rem;
    animation: moving 2s ease 2.9s infinite alternate
}
.i2 {
    top:-25rem;
    left: 9rem;
    width: 6rem;
    height: 6rem;
    animation: moving 2s ease 1.9s infinite alternate
}
.i3 {
    top: -10rem;
    left: 27rem;  
    animation: moving 2s ease .9s infinite alternate
}
.i4{
    top: -8rem;
    left: -6rem;
    width: 5.4rem;
    height: 5.4rem;
    animation: moving 2s ease .2s infinite alternate
}

@keyframes moving {
    0% {
        transform: translate3d(0, 0, 0)
    }

    100% {
        transform: translate3d(10px, -40px, 0)
    }
}


#sec2-h2,
#sec3-h2 {
    color: #ffffff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.sec2-p {

    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-left: 8rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}

.sobremim {
    display: flex;

}

/* Sessao dos projetos e tech's */

#section3 {
    height: 45rem;
    width: 100%;
    background-color: #09090B;
    transform: translateY(145%);
}

.itens {
    color: #b509ff;
    font-size: 4rem;
}

#sec3-h3 {
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;

}
 
#projetos {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
    align-items: center;

}

.projetos-box {
    width: 20rem;
    height: 15rem;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Archivo Black', sans-serif;

    padding: 5rem;
    margin-top: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 80%;
    transition: 0.5s;
    overflow: hidden;

    border-style: solid;
    border-width: 0.1rem;
    border-color: #b509ff;

}

.projetos-box:hover {
    border: none;
    transition: 0.2s;
}


.projetos-box p {
    position: absolute;
    z-index: 3;
}



.proje1:hover {
    height: 18rem;
    position: relative;
    transition: 0.5s;
    width: 23rem;
}

.proje2:hover {
    height: 18rem;
    position: relative;
    transition: 0.5s;
    width: 23rem;
    background-image: url();
}

.proje3:hover {
    height: 18rem;
    position: relative;
    transition: 0.5s;
    width: 23rem;
}

/* .projetos-box:hover::before {
    content: "";
    position: absolute;
    width: 45%;
    height: 40rem;
    background: linear-gradient(360deg,#b509ff, #ff0062 );
    animation: animate 3s linear infinite;
    
}
.projetos-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40rem;
    
    
}
.projetos-box::after {
    content: "";
    position: absolute;
    inset: 0.1rem;
    background: linear-gradient();
    z-index: 2;
}

.proje1:hover::after {
    content: "";
    position: absolute;
    inset: 0.1rem;
    background-image: url(assets1/logo\ alternativo.png);
    
    
}

.proje2:hover::after {
    content: "";
    position: absolute;
    inset: 0.1rem;
    background-image: url(assets1/logo\ alternativo.png);
    
}
.proje3:hover::after {
    content: "";
    position: absolute;
    inset: 0.1rem;
    background-image: url(assets1/logo\ alternativo.png);
    
}
.projetos-box img {
    z-index: 10;
    width: 90%;
    transition: 1s;
    
}

.projetos-box img:hover {
    width: 15rem;
    transition: 1s;
}
@keyframes animate {

    0% {transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#btn-projetos {
    background: transparent;
    color: #b509ff;
    border-width: 0.1rem;
    border-color: #b509ff;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1 1 1rem #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    width: 15rem;
    height: 3rem;
    

    /* animaçao */
/* transform: translate(0);
    overflow: hidden;

} */
/* animaçao */
/* #btn-projetos::before {
    content: "";
    position: absolute;
    background: #b509ff;
    width: 0.5rem;
    top: 0;
    bottom: 0;
    left: -2rem;
    transform: rotate(-16deg);
    filter: blur(0.3rem);
    transition: 0.75s;
}

/* animaçao */
/* #btn-projetos:hover::before {
    left: calc(100% + 2rem);
    transition: 0.75s;
} */

*/ */ .linkgit {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 0.7rem;

}

/* Track */
::-webkit-scrollbar-track {
    background-color: #09090B;
    background-repeat: repeat-y;

}

/* Handle */
::-webkit-scrollbar-thumb {


    background: linear-gradient(0deg, #b509ff, #ff14ff);
    background-repeat: no-repeat;
    width: 60%;


}

/* Botao repositorio github */

#btn-projeto {
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: large;
    font-family: 'Archivo', sans-serif;
    display: flex;
    margin-top: 3rem;
    max-width: 12rem;

}

#linkGit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-projeto.learn-more {
    width: 12rem;
    height: auto;

}

#btn-projeto.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #b300ff;
    border-radius: 1.625rem;
}

#btn-projeto.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#btn-projeto.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

#btn-projeto.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);

}

#btn-projeto.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 0.8rem;
    color: #402d42;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;

}

#btn-projeto:hover .circle {
    width: 85%;
}

#btn-projeto:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

#btn-projeto:hover .button-text {
    color: #fff;
}

/* Cards Projetos */
.card {
    width: 15rem;
    height: 18rem;
    --border-radius: 1rem;
    --border-width: 0.2rem;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background: #000000;
    opacity: 90%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    z-index: 2;
    border-radius: 15px;
}

.cardjs {
    width: 15rem;
    height: 18rem;
    --border-radius: 1rem;
    --border-width: 0.2rem;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background: #ffffff;
    opacity: 90%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    z-index: 2;
    border-radius: 15px;
}

.card::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb,
            #d400ff,
            #a200ff,
            #b509ff,
            #9900ff,
            #655adc,
            #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-clip: none;
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

.card:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.card,
.card::after {
    box-sizing: border-box;
}

.card:active {
    --border-width: 1rem;
}

/* Section 4 habilidades */

#section4 {
    height: 44rem;
    width: 100%;
    background: none;
    transform: translateY(135%);
    text-align: center;
}

#sec4-h2 h2 {
    color: #ffffff;

    font-size: 2rem;
}

#sec4-h2 h3 {
    color: #ffffff;
    padding-top: 2rem;
    font-size: 1.5rem;
}

/* Cards Habilidades */

#cards-habilidade {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
    margin-top: 4rem;

}

.card2 {
    width: 20rem;
    height: 12rem;
    transition: all .5s;
    border-style: solid;
    border-color: rgba(181, 9, 255, 1);
    border-width: 0.15rem;
    border-radius: 0.4rem;
    overflow: hidden;
    cursor: pointer;
}

.card2:hover {
    height: 20rem;

    background: #ffffff;
}

.card2 .header {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(10, 9, 9);
    margin-bottom: 1rem;
}

.header {
    height: 12rem;
}

.card2 .header .img-box {
    width: 3.125rem;
}

.card .title {
    font-size: 1rem;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.25rem 0.875rem 0;
    transition: all .5s;
    color: #edededc5;
}



.card2:hover .card .header .title {
    padding: 0;
}

.card2 .content {
    display: block;
    text-align: left;
    color: #000000;
    margin: 0 1.125rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.card .content p {
    transition: all .5s;

    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.card2 .content a {
    color: rgba(181, 9, 255, 1);
    cursor: pointer;
    transition: all .5s;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;


}

.card2 .content .btn-link:hover {
    margin-top: 2rem;
    border-bottom: 0.063rem solid rgba(181, 9, 255, 1);
}

#sec3-h3,
#testjs {
    caret-color: #b509ff;
}

/* Carrousel */

.items {
    
    position: absolute;
    top: 40rem;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    
}

.items h3 {
    color: #ffffff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-200%);
}


.items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
    
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.item.active {
    opacity: 1;
    z-index: 99;

    animation: pulse 1s infinite;
    animation-play-state: running;
    position: static;
    transition: 0.5s;
}

.item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
    
}

.item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
    
}

.items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    z-index: 100;
    
}


.button-container .button4 {
    color: #fff;
    font-size: 32rem;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;

}

.button-container .button4:hover {
    opacity: 2;
}

.button-container .btn1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
    background: #9900ff;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);  
    z-index: 99;
}

.button-container .btn2:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
    background: #9900ff;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    z-index: 99;
}

.button-container .button4:nth-child(1) {
    float: left;
}

.button-container .button4:nth-child(2) {
    float: right;

}

@keyframes pulse {
    0% {
        transform: scale(1.1);
        opacity: 1;
    }


    /* 10% {
        transform:  scale(1.2);
    }
    20% {
        transform:  scale(1.3);
    }
    30% {
        transform:  scale(1.4);
    }
    40% {
        transform:  scale(1.4);
    } */
    50% {
        transform: scale(1.3);

    }


    /* 60% {
        transform:  scale(1.3);
    }
    70% {
        transform: scale(1.2);
    } */
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}
